@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #5d5e63;
  --color-background: #f9f9f9;
  --color-surface: #f9f9f9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container-high: #e8e8e8;
  --color-outline-variant: #cfc4c5;
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #4c4546;
  --color-on-primary: #ffffff;
  --color-outline: #7e7576;
}

@utility clean-shadow {
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.03), 0 1px 3px rgba(0, 0, 0, 0.02);
}

@utility clean-shadow-hover {
  &:hover {
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.05), 0 4px 12px rgba(0, 0, 0, 0.03);
    transform: translateY(-2px);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
